.card-text{
  margin: 0;
}

.header-banner{
  width:100%
}
p{
  margin:0;
}
.price-text{
  color:#2196F3;
  font-weight: bold;
  margin: 2px 0px;
}
.lite-text{
  color: rgb(105, 105, 105);
  font-size: 15px;
}

.custom-link{
  text-decoration: none;
  color:#292929
}

.product-link{
  text-decoration: none;
}


.btn-default{
  padding:0.5rem;
  border:none;
  background: var(--theme-color);
  color: #fff;
  border-radius: 3px;
}
.icon-default{
  height:35px
}

/* style for search page */

#query-text{
 text-decoration: underline var(--theme-color);
}
